*~
*.a
*.d
*.dll
*.exe
*.la
*.lo
*.o
*.obj
*.res
.deps
.dirstamp
.libs
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
libtool.m4
ltmain.sh
ltversion.m4
Makefile
Makefile.in
missing
stamp-h1
